<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer Crimes | Winter 2022</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💾</text></svg>">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    {{ content }}
    <svg>
        <filter id='noiseFilter'>
            <feTurbulence type='fractalNoise' baseFrequency='6.29' numOctaves='6' stitchTiles='stitch' />
        </filter>
    </svg>
    <!-- <script
        src="https://cdn.jsdelivr.net/npm/container-query-polyfill@1/dist/container-query-polyfill.modern.js"></script> -->
    <script>
        const scrollbarWidth = window.innerWidth - document.body.clientWidth;
        document.body.style.setProperty("--scrollbarWidth", `${scrollbarWidth}px`)
    </script>
</body>

</html>