$color-text: #e5e3e4;
$color-background: #131718;

.cover {
  font-size: 1.5vmin;
  position: relative;
  padding: 1.5em;
  letter-spacing: -0.04em;
  color: $color-text;
  background-color: $color-background;
  background-image: url('/img/cover-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  container-type: size;
  @media (min-aspect-ratio: #{$aspect-ratio}) {
    font-size: 1vmin;
  }
  &:before {
    content: unset;
  }
  ::selection {
    background-color: rgba($color-background, 0.8);
  }
  &__header {
    font-family: 'GT America Standard';
    font-size: 1.575em;
    font-size: 1.575cqh;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
    border-bottom: 1px solid currentColor;
    ins {
      font-style: italic;
      text-decoration: none;
    }
    a {
      cursor: pointer;
      text-decoration: none;
      opacity: 0.8;
    }
  }
  &__title {
    font-family: 'GT America Condensed';
    font-size: 12em;
    font-size: 12cqh;
    font-weight: 900;
    line-height: 0.8;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }
  &__main-feature {
    font-size: 1.8em;
    font-size: 1.8cqh;
    position: absolute;
    bottom: 3em;
    left: 1.5em;
    max-width: 35ch;
    padding: 1em;
    background-color: $color-background;
    ::selection {
      color: $color-background;
      background-color: rgba($color-text, 0.8);
    }
  }
  &__main-feature-title {
    font-family: 'GT America Condensed';
    font-size: 2em;
    line-height: 1;
    margin-bottom: 1.25em;
    text-transform: uppercase;

    a {
      text-decoration: none;
    }
  }
  &__main-feature-text {
    font-family: 'GT America Condensed';
    font-size: 1.25em;
    line-height: 1;
    margin-bottom: 1em;
    &--em {
      font-style: italic;
    }
  }
  &__bluesky-callout {
    font-family: 'GT America Condensed';
    font-size: 2em;
    position: absolute;
    inset-block-end:0;
    inset-inline: 0;
    width: 100%;
    padding: .25em;
    text-align: center;
    background-color: $color-background;
  }
  &__bluesky-icon {
    max-width: 1em;
    width: 100%;
    fill: currentColor;
  }

}
