$color-text: #5c5c45;
$color-selection: rgba($color-text, 0.2);

.dark-web {
  font-family: 'Apple Garamond';
  font-size: 1.5vmin;
  position: relative;
  padding: 4em;
  color: $color-text;
  background-image: url('/img/new-dark-web-bg.jpg');
  background-size: cover;

  container-type: size;
  @media (min-aspect-ratio: #{$aspect-ratio}) {
    font-size: 1vmin;
  }

  ::selection {
    background-color: $color-selection;
  }
  &__title {
    font-size: 9em;
    font-weight: 300;
    line-height: 0.8;
    max-width: 16ch;
    margin: 0 auto;
    text-align: center;
    letter-spacing: -0.04em;
  }
  &__content {
    max-width: 19em;
    margin-top: 3em;
    margin-left: auto;
    padding-bottom: 2em; // Account for displacement offset
    filter: url('#dark-web-noise');
    p {
      font-size: 1.4em;
      line-height: 1.2;
      text-indent: 2em;
      hyphens: auto;
    }
  }
  &__sigil {
    display: block;
    max-width: 5em;
    margin: 2em auto;
  }
  &__footer {
    font-size: 5.3em;
    font-size: 5.3cqh;
    padding-bottom: 2em;
    margin-bottom: -1.75em;
    font-weight: 300;
    position: absolute;
    bottom: 0.7em;
    left: 3.7em;
    filter: url('#dark-web-noise');
  }
  > svg {
    display: none;
  }
}
