$color-text: #e5e3e4;
$color-selection: #c95390;

.fear {
  font-size: 1.5vmin;
  position: relative;
  padding: 4em 2em;
  padding: 4cqh 2cqh;
  text-align: center;
  color: $color-text;
  background-image: url('/img/fear-of-god.jpg');
  background-position: top center;
  background-size: cover;

  container-type: size;

  @media (min-aspect-ratio: #{$aspect-ratio}) {
    font-size: 1vmin;
  }
  ::selection {
    background-color: rgba($color-selection, 0.5);
  }
  &__title {
    font-size: 10em;
    font-size: 10cqh;
    line-height: 0.9;
    letter-spacing: -0.01em;
    letter-spacing: -0.01cqh;
    em {
      display: block;
    }
  }
  &__intro {
    font-family: 'GT America Compressed';
    font-size: 2.8em;
    font-size: 2.8cqh;
    font-weight: bold;
    font-style: italic;
    line-height: 1;
    max-width: 23ch;
    margin: 0 auto 1em;
    margin-bottom: 3cqh;
    &:nth-of-type(2) {
      max-width: 15ch;
      margin-bottom: 1.5em;
      margin-bottom: 3.5cqh;
    }
  }
  &__window {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }
}
