$color-text: #f00;

.program {
  display: grid;
  //   align-content: space-between;
  place-items: center;
  padding: 4em;
  color: $color-text;
  background-image: url('/img/program-your-computer-bg.jpg');
  background-size: cover;
  font-size: 1.5vmin;
  container-type: size;
  @media (min-aspect-ratio: #{$aspect-ratio}) {
    font-size: 1vmin;
  }

  ::selection {
    background-color: rgba($color-text, 0.1);
  }

  &__header,
  &:after {
    font-family: 'Apple Garamond';
    font-size: 3em;
    font-size: 3cqh;
    font-weight: 300;
  }
  &:after {
    content: 'Don’t forget...';
    transform: rotate(180deg);
  }
  //   &:before,
  //   &:after {
  //
  //   }
  //   &:after {
  //   }

  &__title {
    font-family: 'Inter';
    font-size: 6em;
    font-size: 6cqh;
    line-height: 1;
    position: relative;
    display: grid;
    text-align: center;
    text-transform: uppercase;

    gap: 2em;
    gap: 2cqh;

    span {
      position: relative;
      display: block;
      &:before {
        position: absolute;
        content: attr(data-text);
        opacity: 0.5;
        filter: url(#program-blur);
      }
    }
  }
  svg {
    position: absolute;
  }
}
