$color-text: #f00;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
.program {
  font-size: 1vmin;
  display: grid;
  //   align-content: space-between;
  place-items: center;
  padding: 4em;
  color: $color-text;
  background-image: url('/img/program-your-computer-bg.jpg');
  background-size: cover;
  &:before,
  &:after {
    font-family: 'Apple Garamond';
    font-size: 3em;
    font-weight: 300;
    position: static;
    content: "Don't forget...";
  }
  &:after {
    transform: rotate(180deg);
  }

  &__title {
    font-family: 'Inter';
    font-size: 6em;
    line-height: 1;
    position: relative;
    display: grid;
    text-align: center;
    text-transform: uppercase;

    gap: 2em;
    span {
      position: relative;
      display: block;
      &:before {
        position: absolute;
        content: attr(data-text);
        opacity: 0.5;
        filter: url(#program-blur);
      }
    }
  }
  svg {
    position: absolute;
  }
}
