<article class="page cover">
    <header class="cover__header">
        <time>December 20, 2022</time>
        <p>A tiny <del>website</del> <ins>magazine</ins> by <a href="#">Henry Desroches</a></p>
    </header>
    <h1 class="cover__title">Computer Crimes.</h1>
    <aside class="cover__main-feature">
        <h1 class="cover__main-feature-title">The future is here <em>(and gone again!)</em></h1>
        <p class="cover__main-feature-text cover__main-feature-text--em">How we sold the infinite promise of Internet
            Revolution to venture
            capitalists and attention farmers
        </p>
        <a href="#" class="cover__main-feature-text">(Read more on page 25)</a>
    </aside>
</article>