<article class="page dark-web">
    <h1 class="dark-web__title">Such <em>evils</em> await thee! True terrors of the New Dark Web.</h1>
    <div class="dark-web__content">
        <p>At this horror, it is our guarantee you'll sink nearly to the lichened earth, transfixed with a dread not of
            this nor any world, but only of the mad spaces between the stars!</p>
        <p>Out of the unimaginable blackness beyond the gangrenous glare of that cold flame, out of the Tartarean
            leagues through which that oily river rolled uncanny, unheard, and unsuspected, there will flop rhythmically
            a horde of tame, trained, hybrid winged things that no sound eye could ever wholly grasp, or sound brain
            ever wholly remember.</p>
        <p>They are not altogether crows, nor moles, nor buzzards, nor ants, nor vampire bats, nor decomposed human
            beings; but something you cannot and must not recall.</p>
        <p>Bare witness to the new digital Ancient Ones, with impronounceable tongues and eyes to behold all hells that
            may come before them. </p>
        <svg class="dark-web__sigil" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 236 226">
            <path fill-rule="evenodd"
                d="M219 176c0-10-3-18-9-23-6-7-15-10-23-10-23 0-48 23-58 33 10 11 35 34 58 34 8 0 17-4 23-10s9-14 9-24Zm-109-20v-55H68c-34 0-20 14-34 14V71c14 0 0 14 34 14h42V55H83c-34 0-20 13-34 13V24c14 0 0 14 34 14h27v-5c0-33-14-20-14-33h44c0 13-14 0-14 33v5h28c33 0 20-14 33-14v44c-13 0 0-13-33-13h-28v30h43c33 0 20-14 33-14v44c-13 0 0-14-33-14h-43v55c15-13 38-29 61-29 12 0 26 5 35 14 8 9 14 21 14 35 0 15-6 27-14 35a50 50 0 0 1-35 15c-29 0-57-25-69-38-12 13-40 38-69 38-12 0-26-5-35-15-8-8-14-20-14-35a48 48 0 0 1 49-49c23 0 46 16 61 29Zm-84-3c-6 5-9 13-9 23s3 18 9 24 15 10 23 10c23 0 48-23 58-34-10-10-35-33-58-33-8 0-17 3-23 10Z"
                clip-rule="evenodd" />
        </svg>
    </div>
    <footer class="dark-web__footer">What horror resides here.</footer>
</article>