<article id="program-your-computer" class="page program">
    <p class="program__header">Don't forget...</p>
    <h1 class="program__title">
        <span data-text="Program your computer">Program your computer</span>
        <span data-text="Before it learns to program you">Before it learns to program you.</span>
    </h1>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="filters hidden">
        <defs>
            <filter id="program-blur">
                <feGaussianBlur in="SourceGraphic" stdDeviation="50,0" />
            </filter>
        </defs>
    </svg>
</article>