// Cover
@font-face {
  font-family: 'GT America Standard';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/GT-America-Standard-Regular-Trial.woff2') format('woff2');
}
@font-face {
  font-family: 'GT America Standard';
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/GT-America-Standard-Regular-Italic-Trial.woff2') format('woff2');
}
@font-face {
  font-family: 'GT America Condensed';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/GT-America-Condensed-Regular-Trial.woff2') format('woff2');
}
@font-face {
  font-family: 'GT America Condensed';
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/GT-America-Condensed-Regular-Italic-Trial.woff2') format('woff2');
}
@font-face {
  font-family: 'GT America Condensed';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/GT-America-Condensed-Bold-Trial.woff2') format('woff2');
}
@font-face {
  font-family: 'GT America Condensed';
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/GT-America-Condensed-Bold-Italic-Trial.woff2') format('woff2');
}
@font-face {
  font-family: 'GT America Condensed';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/GT-America-Condensed-Black-Trial.woff2') format('woff2');
}
@font-face {
  font-family: 'GT America Condensed';
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/GT-America-Condensed-Black-Italic-Trial.woff2') format('woff2');
}

// New Dark Web
@font-face {
  font-family: 'Apple Garamond';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/AppleGaramondLight-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Apple Garamond';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/AppleGaramondLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Apple Garamond';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/AppleGaramond.woff2') format('woff2');
}

// Fear of God
@font-face {
  font-family: 'GT America Compressed';
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/GT-America-Compressed-Bold-Italic-Trial.woff2') format('woff2');
}

// Program Your Computer
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
