.pages {
  //   border: 1px solid blue;
  //   width: 100vw;
  display: grid;
  justify-content: start;
  //   position: fixed;
  //   left: 0;
  //   top: 0;
  counter-reset: page-numbers;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &:before {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    pointer-events: none;
    opacity: 0.5;
    filter: url('#noiseFilter');
    // background-image: url('/img/noise.png');
    background-size: cover;
    mix-blend-mode: multiply;
  }
  @media (min-aspect-ratio: #{$aspect-ratio}) {
    overflow-y: hidden;
    grid-auto-flow: column;
    height: var(--viewportHeight);

    overscroll-behavior-y: none;
  }
}

.page {
  width: var(--viewportWidth);
  //   border: 1px solid red;
  aspect-ratio: $aspect-ratio;
  position: relative;
  @media (min-aspect-ratio: #{$aspect-ratio}) {
    width: auto;
    height: var(--viewportHeight);
  }

  &:before {
    font-family: 'GT America Condensed';
    position: absolute;
    bottom: 1em;
    left: 1em;
    content: counter(page-numbers);
    color: currentColor;
    font-size: 2em;
  }
  &:first-child {
    &:before {
      content: unset;
    }
  }
  &:nth-of-type(odd) {
    &:before {
      right: 1rem;
      left: unset;
    }
  }
  &:nth-of-type(1) ~ * {
    counter-increment: page-numbers;
  }
}
