.pages {
  display: grid;
  justify-content: start;
  counter-reset: pages -1;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &:before {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    pointer-events: none;
    opacity: 0.5;
    filter: url('#noiseFilter');
    background-size: cover;
    mix-blend-mode: multiply;
  }
  @media (min-aspect-ratio: #{$aspect-ratio}) {
    overflow-y: hidden;
    grid-auto-flow: column;
    height: var(--viewportHeight);

    overscroll-behavior-y: none;
    &:before {
      content: '';
    }
  }
}

.page {
  position: relative;
  width: var(--viewportWidth);
  aspect-ratio: $aspect-ratio;
  @media (min-aspect-ratio: #{$aspect-ratio}) {
    font-size: 1vmin;
    width: auto;
    height: var(--viewportHeight);
  }

  &:before {
    font-family: 'GT America Condensed';
    font-size: 2em;
    position: absolute;
    bottom: 1em;
    left: 1em;
    content: counter(pages);
    counter-increment: pages;
    color: currentColor;
  }
  &:nth-of-type(odd) {
    &:before {
      right: 1rem;
      left: unset;
    }
  }
}
