<main class="pages">
    <!-- {% include 'pages/cover.html' %} -->
    {% include 'pages/cover.html' %}
    {% include 'pages/new-dark-web.html' %}
    {% include 'pages/fear-of-god.html' %}
    {% include 'pages/program-your-computer.html' %}
</main>
<script>
    // const pages = document.querySelector('.pages');
    // pages.addEventListener('wheel', (e) => {
    //     if (e.deltaY < -3) {
    //         e.preventDefault();
    //         pages.scrollLeft -= e.deltaY;
    //     }
    //     if (e.deltaY > 3) {
    //         e.preventDefault();
    //         pages.scrollLeft -= e.deltaY;
    //     }
    // });

</script>